<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Hover Elementi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<footer class="footer">
    <ul>
        <li><a href="#">FAQ</a></p></li>
        <li><a href="#">User Agreement</a></p></li>
        <li><a href="#">Rules</a></p></li>
    </ul>
    <ul>
        <li><a href="#">Copyright</a></p></li>
        <li><a href="#">Privacy Policy</a></p></li>
        <li><a href="#">Terms of Service</a></p></li>
    </ul>
</footer>
