* {
  box-sizing: border-box;
}

body {
  background-color: #dbf5ff !important;
  font-family: Arial;
}

.flex-container {
  background-color: #bffeff;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  column-gap: 10px;
  align-items: stretch;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px auto;
  flex: 25%;
  max-width: 1200px;
  padding: 0 4px;
  gap: 20px;
  border: 5px solid #007c9ced;
  padding-top: 5px;
  align-items: center;
  min-height: 300px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  margin: auto;
}

.column > h1 {
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  font-size: clamp(30px, 4vw, 45px);
  line-height: 1.2em;
  margin-bottom: 7px;
}

.column > p {
  height: 4.5em;  /* three rows for text */
  overflow: hidden;
  display: -webkit-box; /* using older browser WebKit versions  */
  -webkit-line-clamp: 3; /* Limit text to three lines */
  -webkit-box-orient: vertical;   /* Set vertical orientation */
  font-size: clamp(23px, 2vw, 27px); /* Responsive text size */
  text-align: center;
  justify-content: center;
  margin-bottom: auto;
}

.button {
  width: 150px;
  height: 30px;
  background-color: #52ffffed;
  color: black;
  border: 2px solid #2b6fec;
  margin-top: auto; /* places the button down */
  margin-bottom: 20px; /* adds bottom margin */
  font-size: 20px;
}

.button:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
  animation: hoverUp 0.5s forwards; /*hoverUp - keyframes animation*/
}

.column:hover{
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
  animation: hoverUp 0.5s forwards;
}

.greeting {
  align-items: stretch;
  font-size: 180%;
  text-align: center;
  font-family: 'Courier New', monospace ;
  font-weight: bold;
  background-color: #007c9ced;
  color: #e2fdff;
}

.recommendations {
  padding-top: 2%;
  font-size: 150%;
}

.container-fluid {
  background-color: #007c9ced;
}

.activepage {
  background-color: #026179ed;
}

#darkModeToggle:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}

/* Styles for Dark Mode */
body.dark-mode {
  background-color: #1d1f21 !important;
  color: #dfdfdf;
}

.navbar-inverse.dark-mode {
  background-color: #343a40;
}

.container-fluid.dark-mode {
  background-color: #520303;
}

.activepage.dark-mode {
  background-color: #360303ed;
}

.greeting.dark-mode {
  background-color: #520303;
  color: #dfdfdf;
}

.column.dark-mode {
  border-color: #be0808;
}
 
.flex-container.dark-mode {
  background-color: #2f3136;
}

.button.dark-mode {
  background-color: #4d4b4b;
  border-color: #be0808;
  color: #dfdfdf;
}

.button.dark-mode:hover {
  background-color: #880808;
}
/**/

@keyframes hoverUp {
  0% {transform: translateY(0) translateX(0) ;}   /*animation starts*/
  100% {transform: translateY(-10px) translateX(-1px) scale(1.02);} /*animation ends*/
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
.column {
  flex: 1 1 calc(50% - 5px);
  max-width: 100%;
}
.flex-container{
  flex: 1 1 calc(50% - 5px);
  max-width: 100%;
}

.column > h1 {
  font-size: 50px;
  font-size: 5vw;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
.column {
  flex: 1 1 calc(100% - 5px);
  max-width: 100%;
}
.flex-container{
  flex: 1 1 calc(100% - 5px);
  max-width: 100%;
}

.column > h1 {
  font-size: 50px;
  font-size: 5vw;
}
}
