* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom left ,#63f6f8, #9ce3ff);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 500px; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 4px;
  /* background-image: linear-gradient(#63f6f8, #9ce3ff); */
  flex-wrap: wrap;
  column-gap: 10px;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px auto;
  flex: 1 1 25%;
  max-width: 500px;
  padding: 0 4px;
  gap: 20px;
  border: 5px solid #007c9ced;
  padding-top: 5px;
  align-items: center;
  min-height: 300px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  margin: auto;
}

.column > h1 {
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  font-size: clamp(30px, 4vw, 45px);
  line-height: 1.2em;
  margin-bottom: 7px;
}

.column > p {
  height: 4.5em;  /* three rows for text */
  overflow: hidden;
  display: -webkit-box; /* using older browser WebKit versions  */
  -webkit-line-clamp: 3; /* Limit text to three lines */
  -webkit-box-orient: vertical;   /* Set vertical orientation */
  font-size: clamp(23px, 2vw, 27px); /* Responsive text size */
  text-align: center;
  justify-content: center;
  margin-bottom: auto;
}

.button {
  width: 150px;
  height: 30px;
  background-color: #52ffffed;
  color: black;
  border: 2px solid #2b6fec;
  margin-top: auto; /* places the button down */
  margin-bottom: 20px; /* adds bottom margin */
  font-size: 20px;
}

.button:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
  animation: hoverUp 0.5s forwards; /*hoverUp - keyframes animation*/
}

.column:hover{
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
  animation: hoverUp 0.5s forwards;
}

.greeting {
  align-items: stretch;
  font-size: 180%;
  text-align: center;
  font-family: 'Courier New', monospace ;
  font-weight: bold;
  background-color: #007c9ced;
  color: #e2fdff;
  padding-top: 10px;
}

.recommendations {
  padding-top: 2%;
  font-size: 190%;
  margin-left: 2%;
  margin-bottom: 1%;
}

.container-fluid {
  background-color: #007c9ced;
}

/* .activepage {
  background-color: #026179ed;
} */

.footer {
  background-color: #007c9ced;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer ul li {
  margin: 0 10px; 
}

.footer a {
  color: #e2fdff;
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer a:hover {
  color: #aacacf;
  text-decoration: underline;
}

/*change Bootstrap dropdown*/
.navbar-dropdown-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-size: 100%;
}

.navbar-button:hover {
  background-color: #2598b4ed !important;
}

.navbar-dropdown-button:hover {
  background-color: #2598b4ed !important;
}

.navbar-custom-dropdown {
  background-color: #ffffffed !important;
  border: 2px solid #2598b4ed !important;
  border-radius: 5px;
  min-width: 200px;
  padding: 10px 0;
}

.navbar-custom-dropdown li a {
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
}

.navbar-custom-dropdown li a:hover {
  background-color: #e9e9e9 !important;
}

.dropdown-toggle {
  background-color: #007c9ced !important;
}

#darkModeToggle:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}

/* For Music-Explore page */
.explore-header {
  text-align: center;
  padding: 20px;
  background-color: #007c9ced;
  color: #ffffff;
  font-size: 2em;
}

.genre-section {
  margin: 40px 0;
}

.genre-title {
  font-size: 2em;
  text-align: center;
  color: #007c9ced;
  margin-bottom: 20px;
}

/* For Music-Explore page */

/* Styles for Dark Mode */
body.dark-mode {
  background-image: linear-gradient(to bottom right, #2e2e2e, #070606);
  color: #dfdfdf;
}

.navbar-inverse.dark-mode {
  background-color: #343a40;
}

.container-fluid.dark-mode {
  background-color: #520303;
}

.activepage.dark-mode {
  background-color: #360303ed;
}

.greeting.dark-mode {
  background-color: #520303;
  color: #dfdfdf;
}

.column.dark-mode {
  border-color: #8f0606;
}
 
.flex-container.dark-mode {
  background-image: linear-gradient(#2e2e2e, #070606);
}

.button.dark-mode {
  background-color: #4d4b4b;
  border-color: #be0808;
  color: #dfdfdf;
}

.button.dark-mode:hover {
  background-color: #880808;
}

.footer.dark-mode {
  background-color: #520303;
}

.footer.dark-mode a {
  color: #dfdfdf;
}

.footer.dark-mode a:hover {
  color: #ffffff;
}

.navbar-dropdown-button.dark-mode {
  background-color: #520303 !important;
  color: #ffffff !important;
}

.navbar-custom-dropdown.dark-mode {
  background-color: #242323ed !important;
  border: 2px solid #880808 !important;
}

.navbar-custom-dropdown.dark-mode li a {
  color: white;
}

.navbar-button.dark-mode:hover {
  background-color: #740505 !important;
}

.navbar-dropdown-button.dark-mode:hover {
  background-color: #740505 !important;
}

/**/

@keyframes hoverUp {
  0% {transform: translateY(0) translateX(0) ;}   /*animation starts*/
  100% {transform: translateY(-10px) translateX(-1px) scale(1.02);} /*animation ends*/
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
.column {
  flex: 1 1 calc(50% - 5px);
  max-width: 100%;
}
.flex-container{
  flex: 1 1 calc(50% - 5px);
  max-width: 100%;
}

.column > h1 {
  font-size: 50px;
  font-size: 5vw;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
.column {
  flex: 1 1 calc(100% - 5px);
  max-width: 100%;
}
.flex-container{
  flex: 1 1 calc(100% - 5px);
  max-width: 100%;
}

.column > h1 {
  font-size: 50px;
  font-size: 5vw;
}

.footer ul {
  flex-direction: column; /* Перестройка в колонку на маленьких экранах */
  align-items: center; /* Центрирует элементы списка */
}

.footer ul li {
  margin: 5px 0; /* Уменьшаем отступы для компактности */
}

}
